:root {
  --primaryColor: #101119;
  --secondaryColor: #63ADF2;
  --tertiaryColor: #F7DD72;
  --textColor: #ffffff;
}

body {
  margin: 0;
  background-color: var(--primaryColor);
  color: var(--textColor);
}

.header {
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--tertiaryColor);
}

.header h1 {
  font-size: 2.75em;
  padding: 0 15px;
}

.header a {
  text-decoration: none;
  color: var(--primaryColor);
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  color:var(--primaryColor);
  list-style: none;
  padding: 0 15px;
  font-size: 2em;
  font-weight: bold;
}

.list:hover {
  color: var(--tertiaryColor);
  text-shadow: 3px 3px var(--primaryColor);
  text-decoration: underline;
  cursor: pointer;
}

.section {
  padding: 0 100px;
}

.section-header {
  font-size: 3em;
  color: var(--tertiaryColor)
}

.section-content {
  font-size: 1.75em;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer img{
  margin: 10px;
  filter: invert(64%) sepia(84%) saturate(1909%) hue-rotate(183deg) brightness(101%) contrast(90%);
}

.footer img:hover {
  filter: invert(81%) sepia(56%) saturate(381%) hue-rotate(357deg) brightness(102%) contrast(94%);
}

.navActive {
  color: var(--tertiaryColor);
  text-shadow: 3px 3px var(--primaryColor);
}